.library-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 30px;
	column-gap: 12px;
	padding: 10px;
	overflow: hidden;
	margin-top: 20px;
}
	
.progress-bar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.progress-bar-image {
	width: 180px;
	object-fit: cover;
	image-rendering: optimizeQuality;
	filter: invert(100%);
	margin: 20px 0px;
	animation: rotation 2s linear infinite;
}
	
.progress-bar-text-container {
	margin: 12px;
}

.progress-bar-update-text {
	color: #FFFFFF;
	font-family: 'Poppins';
}

.progress-bar-error-text {
	margin-top: 10px;
	color: #FF0000;
}

.progress-bar-stats-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	box-shadow: 0px 0 5px #710193;
	padding: 8px 16px;
}

.progress-bar-stat {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
}

.progress-bar-stat-text {
	color: #FFFFFF;
	font-family: 'Poppins';
	font-size: 14px;
}

.progress-bar-stat-separator {
	height: 8px;
	width: 8px;
	margin: 0px 16px;
	background-color: #710193;
	border-radius: 50%;
	display: inline-block;
}

.library-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-right: 30px;
}

.library-statistics-container {
	display: flex;
	flex-direction: row;
}

.library-statistic {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.library-statistic-icon {
	background-color: #710193;
	width: 60px;
	height: 40px;
	padding-top: 10px;
}

.library-statistic-text {
	border: #710193 solid 2px;
	width: 60px;
	height: 40px;
	color: #FFFFFF;
	padding-top: 10px;
}

.library-icon-button-container {
	display: flex;
	flex-direction: row;
	height: 40px;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0 5px #710193;
}

.library-icon-button-container:hover .hover-dummy {
	box-shadow: 0px 0 5px #FF0000;
	background-color: #FF0000;
}

.library-icon {
	background-color: #710193;
	width: 50px;
	height: 40px;
	padding-top: 5px;
}

.hover-dummy {
}

.library-button {
	height: 40px;
	background-color: #000000;
	border: transparent solid 3px;
	color: #FFFFFF;
	text-align: center;
	align-items: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	z-index: 100px;
	padding: 5px;
}

.library-icon-button-text {
	padding-bottom: 10px;
}

.library-item {
	width: 200px;
	height: 320px;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	background-color: #000000;
	z-index: 10;
}

.library-item:hover {
	box-shadow: 0 0 8px #710193;
	transition: all ease-in 0.1s;
}

mat-card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	image-rendering: optimizeQuality;
	padding: 2px;
}
.library-item-header-container {
	margin-left: 4px;
}

.library-item-title {
	font-weight: bold;
	color: #FFFFFF;
	margin: 8px 2px 4px 0px;
	display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}

.library-item-sub-title {
	color: #505050;
	margin: 4px 2px 0px 0px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	font-family: 'Poppins';
}

mat-card-actions {
	margin-top: auto;
}

.library-item-footer-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.library-item-footer-info-container {
	display: flex;
	align-items: center;
}

.library-item-footer-icon {
	font-size: 16px;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	color: #FFFFFF;
}

.library-item-footer-text {
	font-size: 12px;
	color: #FFFFFF;
	margin-left: 5px;
}

.library-item-footer-separator {
	height: 8px;	
	width: 8px;
	margin: 0px 10px;
	background-color: #710193;
 	border-radius: 50%; 
	display: inline-block;
}
@keyframes rotation {
	from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}