.player-container {
	display: flex;
	flex-direction: column;
	width: 95%;
	margin: 0px 10px;	
}

.image {
	display: inline-block; 
	width: 95%;
	height: 100%;
	margin-left: 10px;
}

.track-title {
	font-weight: bold;
	color: #FFFFFF;
	margin: 10px 2px 0px 2px;
}

.track-sub-title {
	color: #505050;
	margin: 4px 2px 0px 2px;
}

.information-controls {
	margin: 15px 5px 0px 5px;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}

.information-icon-button {
	background: transparent;
	border: none;

	.mat-icon {
	  font-size: 22px;
	  height: 22px;
	  width: 22px;
	  color: #FFFFFF;
	}
}

mat-slider {
	--mdc-slider-handle-color: #710193;
	--mdc-slider-active-track-color: #710193;
  	--mdc-slider-inactive-track-color: #505050; 
	--mdc-slider-inactive-track-height: 5px;
	--mdc-slider-active-track-height: 5px;
	--mdc-slider-handle-height: 18px;
	--mdc-slider-handle-width: 18px;
	--mdc-slider-handle-shape: 50px;
}

.player-controls {
	margin: 5px;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}

.player-icon-button {
	background: transparent;
	border: none;

	.mat-icon {
	  font-size: 28px;
	  height: 28px;
	  width: 28px;
	  color: #FFFFFF;
	}
}

.play-icon-button {
	background: transparent;
	border: none;

	.mat-icon {
		font-size: 42px;
		height: 42px;
		width: 42px;
		color: #710193;
	}
}