<div class="player-container">
  <img class="image" src="logo-no-background.png" />
  <div class="track-info-container">
    <p class="track-title">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    </p>
    <p class="track-sub-title">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem
    </p>
  </div>
  <div class="information-controls">
    <button matIconButton class="information-icon-button">
      <mat-icon>info</mat-icon>
    </button><button matIconButton class="information-icon-button">
      <mat-icon>favorite</mat-icon>
    </button><button matIconButton class="information-icon-button">
      <mat-icon>speaker_notes</mat-icon>
    </button>
  </div>
  <mat-slider>
    <input matSliderThumb />
  </mat-slider>
  <div class="player-controls">
    <button matIconButton class="player-icon-button">
      <mat-icon>shuffle</mat-icon>
    </button>
    <button matIconButton class="player-icon-button">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button matIconButton class="play-icon-button">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button matIconButton class="player-icon-button">
      <mat-icon>skip_next</mat-icon>
    </button>
    <button matIconButton class="player-icon-button">
      <mat-icon>queue_music</mat-icon>
    </button>
  </div>
</div>
