<div id="playerArt" class="player-container-image">
  <div class="frosted-glass">
    <div class="player-playlist-container">
      <div class="playlist-button-container">
        <div class="playlist-button">
          <button
            id="shift-up"
            matIconButton
            class="playlist-icon-button icon-button-spacing"
            (click)="onShiftUpClickedAsync()"
          >
            <svg-icon key="up-arrow" color="#FFFFFF" size="xl"></svg-icon>
          </button>
          <button
            id="shift-down"
            matIconButton
            class="playlist-icon-button"
            (click)="onShiftDownClickedAsync()"
          >
            <svg-icon key="down-arrow" color="#FFFFFF" size="xl"></svg-icon>
          </button>
        </div>
        <button
          id="delete-track"
          matIconButton
          class="playlist-icon-button"
          (click)="onDeleteTrackAsync()"
        >
          <svg-icon key="bin" color="#FF0000" size="xl"></svg-icon>
        </button>
      </div>
      <div class="track-row-container">
        @for (playlistTrack of playlist; track playlistTrack) {
        <div class="playlist-track-row">
          <input
            type="radio"
            id="player_playlist_{{ playlistTrack.path }}"
            name="player-playlist"
            (change)="onPlaylistTrackSelected(playlistTrack.path)"
          />
          @if (playlistTrack.isPlaying) {
          <label
            class="playlist-active-track-name"
            for="{{ playlistTrack.path }}"
            >{{ playlistTrack.name }}</label
          >
          } @else {
          <label for="{{ playlistTrack.path }}">{{ playlistTrack.name }}</label>
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>
