.search-container {
	height: 40px;
	display: flex;
	align-items: center
}

.search-text {
	height: 40px;
	border: 2px solid #710193;
	padding: 15px;
	color: #FFFFFF;
	background-color: #000000;
	border-radius: 20px 0px 0px 20px;

	font-size: 18px;
}

input:focus {
	border-color: #000000;
	border: 2px solid #710193;
	outline: none;
}

.clear-button {
	width: 45px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	outline: none;
	border: 0px;
	cursor: pointer;
}

.search-button {
	width: 50px;
	height: 100%;
	background-color: #710193;
	border-radius: 0px 20px 20px 0px;
	outline: none;
	border: 0px;
	cursor: pointer;
}

.filter-dropdown label {
	color: #FFFFFF;
	font-size: 18px;
	margin: 0px 10px 0px 100px;
}

select {
	/* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */

	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22black%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpath%20d%3D%22M6%209L12%2015L18%209%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center; /* Position image from the right edge */
  background-size: 12px; /* Adjust size of your image */

	border: 2px solid #710193;
	border-radius: 20px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 18px;
	height: 40px;
	width: 180px;
	padding: 4px 14px 4px 14px;
	transition: 0.4s;
	background-position: calc(100% - 14px) center;
}

.filter-dropdown select option:checked {
	background-color: #710193;
	color: #FFFFFF;
}

.filter-dropdown select option:hover {
	background-color: #710193;
	color: #FFFFFF;
}

.filter-dropdown select option:focus {
	background-color: #710193;
	color: #FFFFFF;
}

