.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
	background-image: url("/space-background-modified.jpg");
  box-shadow: 0px 0 10px #710193;
  padding: 20px;
  width: 600px;
	height: 600px;
}

.modal-container {
	/* display: flex;
	flex-direction: column; */
}


.modal-header {
	width: 50px;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-body {
	height: 480px;
	padding: 10px 0px;
}

.modal-footer {
	display: flex;
	height: 50px;
	margin: 10px 0px 0px 0px;
}

.modal-icon-button {
	background-color: rgba(255, 255, 255, 0.1);
	border: rgba(0, 0, 0, 0.38) solid 3px;
	color: #FFFFFF;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	z-index: 100px;
}

.modal-icon-button:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: white;
	box-shadow: 0px 0 10px #505050;
	transition: background-color 0.3s ease;
}

.modal-icon-button-text {
	margin-left: 10px;
}