<div class="player-container">
  @if (isPlayerLoading || playingTrack) { @if (showPlaylist) {
  <app-player-playlist
    [playlist]="playlist"
    (updatePlayerPlaylist)="receivePlayerPlaylist($event)"
  />
  } @else { @if (playingTrack?.displayImage) {
  <img class="image" [src]="playingTrack?.displayImage" />
  } @else {
  <img class="no-image" src="cd.png" />
  } }
  <div class="track-info-container">
    <p class="track-title">
      {{ playingTrack?.name }}
    </p>
    <p class="track-sub-title">
      {{ playingTrack?.artist }}
    </p>
  </div>
  <app-track-information />
  <app-seek-bar />
  <app-player-actions (showPlaylist)="togglePlaylist($event)" />
  }
</div>
