<div class="content-container">
  <aside>
    <app-sidebar></app-sidebar>
  </aside>
  <main #scrollContainer class="main-content" (scroll)="onScroll($event)">
    <div class="snackbar-container">
      <app-snackbar></app-snackbar>
    </div>
    <app-main></app-main>
    @if (showScrollButton) {
    <button class="scroll-button" (click)="onScrollToTop()">
      <svg-icon key="up-arrow" color="#FFFFFF" size="xl"></svg-icon>
    </button>
    }
    <app-modal>
      <div #modalContent></div>
    </app-modal>
  </main>
</div>
