<div class="nav-rail-container">
  <div>
    <img class="image" src="logo-no-background.png" />
  </div>
  <div class="nav-list-container">
    @for (item of items; track item) {
    <ul>
      <li>
        <a
          class="nav-list-item"
          [routerLink]="item.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <div class="nav-list-item-row">
            <svg-icon key={{item.icon}} color="#FFFFFF" size="xl"></svg-icon>
            <p class="nav-list-item-text">{{ item.label }}</p>
          </div>
        </a>
      </li>
    </ul>
    }
  </div>
  <div class="player">
    <app-player></app-player>
  </div>
</div>
