.nav-rail-container {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 99%;
	margin: 3px 0px 0px 3px;
	box-shadow: 0px 0 10px #710193;
	padding: 8px 0px 0px 0px;
	transition: all 0.1s ease;
}

.image {
	flex: 1;
	display: inline-block; 
	width: 90%;
	margin-left: 10px;
	margin-bottom: 18px;
}	

.nav-list-container {
	display: flex;
	flex-direction: row;
	width: 350px;
	margin-top: 25px;
	transition: all 0.2s ease;
}

.nav-list-item-active {
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding: 6px 10px;
	width: 259px;
}

.nav-list-item-inactive {
	padding: 6px 10px;
	margin-left: auto;
}

.nav-list-item-icon {
	display: inline-flex;
	font-size: 32px;
	width: 32px;	
	height: 32px;
	color: #FFFFFF;
}

.nav-list-item-text {
	font-size: 20px;
	font-weight: 500;
	align-content: center;
}

.active .nav-list-item-active{
	background-color: #000000; 
	background: linear-gradient(
    to right, 
    transparent 0%, 
    #710193 10%,
    transparent 100%
  );
}

a:link, a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.player {
	flex: 1;
	align-content: flex-end;
}