<div class="nav-rail-container">
  <div>
    <div class="server-control-bar">
      <div role="button" (click)="onPowerToggled()">
        @if (isServerRunning) {
          <svg-icon key="power" color="#710193" size="xl"></svg-icon>
        } @else {
          <svg-icon key="power" color="#FF0000" size="xl"></svg-icon>
        }
      </div>
      <div role="button" (click)="onRestartClicked()">
        <svg-icon key="restart" color="#FFFFFF" size="xl"></svg-icon>
      </div>
    </div>
    <img class="image" src="logo-no-background.png" />
    <div class="audio-output-bar">
      <div role="button" (click)="onSpeakersClicked()">
        @if (audioOutput === audioOutputSpeakers) {
          <svg-icon key="speakers" color="#710193" size="xl"></svg-icon>
        } @else {
          <svg-icon key="speakers" color="#FFFFFF" size="xl"></svg-icon>
        }
      </div>
      <div role="button" (click)="onHeadphonesClicked()">
        @if (audioOutput === audioOutputHeadset) {
          <svg-icon key="headphones" color="#710193" size="xl"></svg-icon>
        } @else {
          <svg-icon key="headphones" color="#FFFFFF" size="xl"></svg-icon>
        }
      </div>
    </div>
    <div class="server-information-bar">
      @if (isServerRunning) {
        <span>{{ version }}</span>
      }
    </div>
  </div>
  <div class="nav-list-container">
    @for (item of items; track item) {
    <a
      class="nav-list-item"
      [routerLink]="item.routeLink"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      #rla="routerLinkActive"
    >
      @if(rla.isActive){
      <div class="nav-list-item-active">
        <svg-icon key="{{ item.icon }}" color="#FFFFFF" size="xl"></svg-icon>
        <p class="nav-list-item-text">{{ item.label }}</p>
      </div>
      }
      @else {
        <div class="nav-list-item-inactive">
          <svg-icon key="{{ item.icon }}" color="#FFFFFF" size="xl"></svg-icon>
        </div>
      }
    </a>
    }
  </div>
  <div class="player">
    <app-player></app-player>
  </div>
</div>
